[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "components/esp-adf-libs"]
	path = components/esp-adf-libs
	url = https://github.com/espressif/esp-adf-libs
[submodule "components/esp-sr"]
	path = components/esp-sr
	url = https://github.com/espressif/esp-sr.git
[submodule "components/oneye-dev-sdk"]
	path = components/oneye-dev-sdk
	url = git@github.com:eleball-oneye/oneye-dev-sdk.git
	branch = main
[submodule "docs/oneye-iot-index"]
	path = docs/oneye-iot-index
	url = git@github.com:ELEboysss/oneye-iot-index.git
	branch = main
